html, body{
	font-family: Arial, san-serif;
	margin: 0;
	background-color: tan;
}

header{
	background-color: #01296b;
	background-image: url('../img/paw-print-sm.png');
	background-repeat: repeat;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
	text-shadow: 0 4px 20px black;
	margin: 0;
	text-transform: uppercase;
}	

header img{
		border-radius: 125px;
		width: 600px;
		border: 10px solid #93000e;
		box-shadow: 0 10px 20px black;
		max-width: 100%
}

h2{
	font-size: 20px;
	text-transform: uppercase; 
}

.content{
	max-width: 600px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%
}

p.caption{
	font-size: 16px;
	color: #01296b;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: #8e01010;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #bababa;
}
footer ul{
	text-align: center;
}	
footer ul li{
	display: inline-block;
	margin: 0 5px;
}
/*<header>
	<img src="img/raccoon1.jpg">
	<h1>Bandit the Raccoon</h1>
</header>*/
